html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: rgba(255,213,208);
}

.grid-container{
  display : grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: #C40047;
  color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #C40047;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a{
  color: beige;
  font-size : 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color: beige;
  text-decoration: none;
}

.header-links a:hover{
  color: pink ;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgba(226, 114, 138, 0.849);
}

/* Home Screen */
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float: left;
}

.products li{
  list-style-type: none;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #e9a2bc solid;
  padding: 2rem;
  background-color: beige;
}

.product-name{
  font-size: 2rem;
  font-weight: bold;
}

.product-brand{
  font-size: 1.2rem;
  color: rgb(104, 92, 96);
}

.product-price{
  font-size: 2rem;
  font-weight: bold;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-image{
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating{
  margin-bottom: 1 rem;
}

/* Sidebar */

.brand button{
  font-size: 3 rem;
  padding: .5rem;
  background: none;
  border: none;
  color: beige;
}

.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width : 30rem;
  background-color: gold;
  height: 100%;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: 0.1rem black solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}